::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #382917; 
}

::-webkit-scrollbar-thumb {
    background-color: rgba(161, 148, 120, 0.2);
    border-radius: 30px;
    border: 1px solid transparent;
    background-clip: content-box;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(161, 148, 120, 0.5);
    }

body {
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    background-size: 100%;
    cursor: grab;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color:rgba(161, 148, 120, 0.5);
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

header {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #382917;
    padding: 5%;
    z-index: 2;
}

.linksrechts {
    float: left;
}

#szybbs {
    height: 7vw;
    margin-top: -4vw;
    margin-left: -2vw;
}

.linkslinks {
    float: right;
    height: 3vw;
    padding: 1vw;
    margin-top: -4vw;
}

main {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: -4%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 3%;
    background-color: rgba(161, 148, 120, 0.5);
    z-index: 1;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.5vw;
}

#pdf {
    position: absolute;
    height: 2.5vw;
}

#pdfbunt {
    position: absolute;
    height: 2.5vw;
    opacity: 0;
}

    #pdfbunt:hover {
        opacity: 1;
        transition: opacity 1s;
    }

#instagram {
    position: absolute;
    left: 50%;
    height: 2.5vw;
}

#instagrambunt {
    position: absolute;
    height: 2.5vw;
    opacity: 0;
}

    #instagrambunt:hover {
        opacity: 1;
        transition: opacity 1s;
    }

#foot {
    color: rgba(161, 148, 120, 0.5);
    background-color:#382917;
    padding: 1%;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    font-size: 1vw;
}

.unten {
    float: left;
    padding-right: 3%;
}

#copyright {
    float: right;
}



@media (max-width:650px) {

    body {
        color: rgb(214, 204, 180);
    }
    
    header {
        padding: 8vw;
    }

    #szybbs {
        height: 12vw;
        margin-top: -6vw;
        margin-left: -6vw;
    }

    .linkslinks {
        height: 6vw;
    }

    main {
        margin-top: 9vw;
        margin-left: 0;
        margin-right: 0;
        background-color: rgba(92, 82, 62, 0.726);
    }

    #pdf {
        height: 11vw;
    }

    #pdfbunt {
        height: 11vw;
    }

    #instagram {
        height: 11vw;
    }

    #instagrambunt {
        height: 11vw;
    }

    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 4vw;
    }

    #foot {
        font-size: 3vw;
        padding: 10%;
        width: 82%
    }

    #copyright {
        float: left;
        font-size: 3vw;
        }

}
